@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  font-family : "Manrope"
}
button.btn-primary{
  background-color: #5AB0FF;
  border: none;
  border-radius: 20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-radius: 15px;
}

span.input-group-text{
  border-radius: 15px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 15px;
}