@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');
.layout{
    color: var(--txt-color);
    font-family: "Manrope";
    background-color: aqua;
}

.layout__content{
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
    background-color: rgb(253, 253, 253);
}

.layout__content-main{
    padding: 30px;
}

ul li {
    list-style-type: inherit;
  }

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}